.size1 {
  background-image: url("../images/Atarde-1.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size2 {
  background-image: url("../images/Natatu-3.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size3 {
  background-image: url("../images/Ra-10.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size4 {
  background-image: url("../images/resistencia.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size5 {
  background-image: url("../images/sili-1.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size6 {
  background-image: url("../images/sin título-3.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size7 {
  background-image: url("../images/amanecer-4.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size8 {
  background-image: url("../images/amanecer-1.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size9 {
  background-image: url("../images/amanecer-7.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size10 {
  background-image: url("../images/Atarde-5.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size11 {
  background-image: url("../images/Ra-11.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size12 {
  background-image: url("../images/Ra-6.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size13 {
  background-image: url("../images/DSC01447.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size14 {
  background-image: url("../images/Ra-12.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size15 {
  background-image: url("../images/sili-6.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size16 {
  background-image: url("../images/sin título-5.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size17 {
  background-image: url("../images/amanecer-3.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size18 {
  background-image: url("../images/Atarde-2.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size19 {
  background-image: url("../images/DSC01518.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size20 {
  background-image: url("../images/Ra-3.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size21 {
  background-image: url("../images/amanecer-5.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size22 {
  background-image: url("../images/Atarde-6.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size23 {
  background-image: url("../images/amanecer-6.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size24 {
  background-image: url("../images/DSC01544.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size25 {
  background-image: url("../images/Ra-8.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size26 {
  background-image: url("../images/Atarde-7.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size27 {
  background-image: url("../images/sin título-8.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size28 {
  background-image: url("../images/Atarde-9.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size29 {
  background-image: url("../images/Ra-5.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size30 {
  background-image: url("../images/Natatu-5.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.size31 {
  background-image: url("../images/amanecer-2.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.size32 {
  background-image: url("../images/DSC01538.JPG");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}